{{ attach_library('finenothings/eyebrow') }}

<p class="
  eyebrow before:border-b after:border-b before:border-black after:border-black dark:before:border-mint dark:after:border-mint flex flex-row before:flex-1 after:flex-1 before:my-auto after:my-auto before:mr-4 before:ml-auto after:ml-4 after:mr-auto py-2 text-sm dark:text-mint {{ modifier }}" {{ extra_attributes }}>
  {{ text }}
</p>
