{{ attach_library('finenothings/eyebrow') }}

<div class="eyebrow text-center border-t border-black {{ modifier }}" {{ extra_attributes }}>
  <p class="eyebrow__text text-sm bg-white inline-block p-4 relative -top-7">
    {{ text }}
  </p>
</div>
