{{ attach_library('finenothings/sunrise') }}
<div class="sunriseContainer border-b border-maroon border-opacity-30 overflow-hidden">
  <div class="sunrise overflow-hidden">
    {{ image }}
  </div>
</div>
