{{ attach_library('finenothings/sunrise') }}
<div class="sunriseContainer border-b border-maroon dark:border-mint border-opacity-30 overflow-hidden">
  <div class="sunrise overflow-hidden transition-transform 
    after:absolute after:bg-maroon dark:after:bg-gradient-to-b dark:after:from-yellow dark:after:to-pink after:h-full after:left-0 after:mix-blend-color dark:after:mix-blend-screen after:top-0 after:w-full
  ">
    {{ image }}
  </div>
</div>
