{{ attach_library('finenothings/code') }}
{% if code or filename %}
  <div class="code border border-black border-opacity-50 m-4 rounded shadow-xl">
    {% if filename %}
      <header class="code__filename bg-gray/20 bg-gradient-to-b from-transparent to-gray dark:bg-night dark:to-sky/25 border-b border-black border-opacity-50 font-bold p-2 text-sm dark:text-mint dark:text-shadow-current-sm" {{ extra_attributes }}>
        {{ filename }}
      </header>
    {% endif %}
    {% if code %}
      <div class="code__code bg-paperwhite/25 dark:bg-black/25 font-mono overflow-x-auto p-2 text-sm dark:text-shadow-current-sm">
        {{ code }}
      </div>
    {% endif %}
  </div>
{% endif %}