{{ attach_library('finenothings/tag') }}
<span class="tag bg-gradient-to-t from-paperwhite via-white to-paperwhite cursor-pointer mr-4 rounded-lg p-2 shadow-sm text-maroon text-opacity-60 hover:text-opacity-90" {{ extra_attributes }}>
  {{ name }}
</span>
