{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass("
    bg-maroon border-b border-paperwhite border-opacity-50 border-dashed text-paperwhite
    dark:bg-gradient-to-b from-black to-night dark:border-0 dark:text-mint  
  ") }}>
    <div class="container flex items-center justify-between mx-auto py-2">
      {{ content }}
    </div>
  </div>
{% endif %}
