@keyframes fadeIn {

  from {
    stroke-opacity: 0;
    fill-opacity: 0;
  }

  to {
    stroke-opacity: 0.5;
    fill-opacity: 0.1;
  }
}

.vista #Path,
.vista #Path-1,
.vista #Path-2,
.vista #Path-3 {
  fill: rgb(var(--color-maroon));
  stroke: rgb(var(--color-maroon));
}

.dark .vista #Path,
.dark .vista #Path-1,
.dark .vista #Path-2,
.dark .vista #Path-3 {
  fill: rgb(var(--color-sky));
  stroke: rgb(var(--color-teal));
}

.vista.animate #Path,
.vista.animate #Path-1,
.vista.animate #Path-2,
.vista.animate #Path-3 {
  stroke-opacity: 0;
  fill-opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.vista.animate #Path {
  animation-delay: 3.5s;
}

.vista.animate #Path-1 {
  animation-delay: 3s;
}

.vista.animate #Path-2 {
  animation-delay: 2.5s;
}

.vista.animate #Path-3 {
  animation-delay: 2s;
}
